.copy, body {
  font-family: "ff-dagny-web-pro",sans-serif;
  font-style: normal;
  font-weight: 400; }

.heading, h1, h2, h3, h5, .tagline, #nav li, input.submit-button, input.settings {
  font-family: din-condensed-web, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400; }

.code_block, .input_section, input.square, .CodeMirror-wrap {
  font-family: "source-code-pro",sans-serif;
  font-style: normal;
  font-weight: 400; }

.content_wrapper {
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow-y: scroll; }

body {
  font-size: 15px;
  color: #47484c;
  line-height: 1.7em;
  background: #faf9f7; }

.wf-loading body {
  visibiility: hidden; }

a {
  text-decoration: none;
  color: #5e57a6; }

a:hover {
  color: #38afd1; }

h1, h2, h3, h5, .tagline {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 18px;
  color: #5e57a6;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center; }

h2 {
  font-size: 36px;
  color: #47484c;
  margin: 20px 0;
  text-align: center; }

h3 {
  font-size: 24px;
  color: #5e57a6;
  margin: 30px 0;
  text-align: center; }

h4 {
  font-size: 14px;
  color: #47484c;
  margin-bottom: -10px;
  font-weight: bold; }

h5 {
  font-size: 22px;
  color: #5e57a6;
  margin: 0px 0 10px;
  text-align: center; }

.container {
  width: 100%;
  padding: 0; }

.post {
  width: 780px;
  margin: 30px auto 120px;
  padding: 10px 0;
  border-top: 2px solid #d9d9d9; }

.post p {
  margin: 14px 0 14px 0; }

.post p.highlight {
  text-align: center;
  font-size: 18px;
  margin: 30px 60px;
  color: #777;
  font-weight: normal;
  line-height: 1.75em; }

.post .two_col1 {
  float: left;
  width: 360px;
  padding-right: 28px;
  padding-top: 10px; }

.post .two_col2 {
  float: left;
  width: 360px;
  padding-left: 29px;
  padding-top: 10px; }

.post .three_cols {
  padding-top: 20px; }

.post .three_cols > div {
  float: left;
  margin: 0 40px;
  width: 180px;
  text-align: center; }

.post .three_cols img {
  margin: 0 auto; }

#tool.post {
  border: 0;
  margin-bottom: 180px; }

#contact a.contact_email {
  font-size: 18px;
  margin: 10px 0;
  display: block; }

#header_wrapper {
  background: #5e57a6;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100000; }

#header {
  width: 100%;
  margin: 0px auto;
  position: relative; }

#logo {
  margin: 100px auto 10px;
  width: 14em;
  display: block; }

.srl {
  position: absolute;
  top: 17px;
  margin-left: 3.5%; }
  .srl .main_logo {
    width: 4.9em;
    display: inline-block;
    float: left; }
  .srl .tagline {
    display: inline-block;
    color: white;
    white-space: nowrap;
    float: left;
    margin-left: .5em;
    margin-top: .15em;
    font-size: 17px; }
  .srl img {
    width: 100%; }

.wf-inactive .srl {
  width: 30em; }

#nav {
  width: 100%;
  padding: 0;
  text-transform: lowercase; }

#nav ul {
  width: 94%;
  margin: 0 auto;
  padding: 0;
  text-align: right; }

#nav li {
  text-align: center;
  display: inline-block;
  width: auto;
  -webkit-font-smoothing: antialiased; }

#nav li a {
  font-size: 18px;
  font-weight: normal;
  display: block;
  padding: 19px 20px;
  border-bottom: none;
  color: #FFF; }

#nav li a:hover, #nav li.selected a {
  background-color: #514b90; }

.intro {
  text-align: center;
  margin: 1em 0 4em; }

.app_section {
  margin-top: 7em; }
  .app_section textarea {
    width: 100%; }

#tool h1 {
  margin-bottom: 50px; }

.input_col, .results_col {
  width: 100%;
  float: left;
  margin-bottom: 1em; }

.input_header {
  text-align: left;
  background: #dedced; }
  .input_header h5 {
    padding: 13px 0 10px 20px;
    text-align: left;
    margin: 0;
    display: inline-block;
    float: left; }

.input_section, input.square, .CodeMirror-wrap {
  color: #46474b;
  border: 2px solid #d9d9d9;
  font-size: 14px;
  padding: 0 16px 0 0;
  outline: 0; }

.input_section:focus, input.square:focus, .CodeMirror-wrap:focus {
  border-color: #5e57a6; }

.results_col {
  position: relative; }

.intro_area_overlay {
  z-index: 10000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.intro_area {
  background: rgba(212, 212, 212, 0.5);
  z-index: 10000;
  position: absolute;
  top: 4.5em;
  bottom: 1.5em;
  left: 1em;
  right: 1em;
  overflow: hidden; }
  .intro_area .input_header {
    background: rgba(212, 212, 212, 0.5); }
  .intro_area h5 {
    text-align: center;
    padding-left: 0;
    width: 100%; }

.intro_slide {
  overflow-y: scroll;
  padding: 20px 20px 0;
  line-height: 1.4;
  height: 100%; }

form {
  position: relative;
  margin-bottom: 30px; }

input.square {
  margin: 30px auto;
  width: 600px; }

input.square:focus {
  border-color: #5e57a6; }

input.submit-button, input.settings {
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 1px;
  background: #5e57a6;
  color: #FFF;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  float: right;
  display: inline-block;
  margin: 9px 10px 0 10px; }

input.submit-button:hover, input.settings:hover {
  background: #514b90;
  cursor: pointer; }

input.settings {
  line-height: 1.2; }

.button {
  display: inline-block;
  background: #333;
  padding: 0px 8px;
  margin: 10px 0px;
  color: #fff; }

.button:hover {
  background: #514b90; }

iframe#tool_results {
  margin: 30px 0;
  display: none;
  /*background:#FFF; border:2px solid #d9d9d9; padding:20px;*/ }

#ajax-loader {
  position: absolute;
  top: 2px;
  right: 10px;
  display: none; }

#load_error {
  color: #f15a61;
  font-size: 16px;
  text-align: center;
  display: none; }

#iframe_nav {
  text-align: center;
  display: none; }

.shareboxes {
  position: fixed;
  top: 15px;
  right: 20px; }

.shareboxes_low {
  margin: 0 auto;
  text-align: left;
  float: left;
  margin-top: 1em; }
  .shareboxes_low .sharebox {
    display: inline-block;
    float: inherit;
    margin: 0 1em; }

.sharebox {
  float: right; }

.g_plus {
  margin-right: 25px; }

#footer {
  margin: 0 auto;
  font-size: 0.9em;
  padding: 30px 0 10px 0;
  text-align: left; }

table {
  font-size: 13px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px; }

th, td {
  line-height: 18px;
  padding-top: 9px;
  padding-bottom: 8px;
  position: relative;
  vertical-align: middle; }

th {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  font-weight: bold; }

th:first-child, td:first-child {
  padding-left: 3px; }

th:last-child, td:last-child {
  padding-right: 3px; }

tr:nth-child(odd) td {
  background: #f6f6f6; }

.tabs {
  padding: 30px 0; }

.tab_content {
  float: left;
  width: 640px; }

.tab_content > div {
  display: none; }

.tab_content > div:first-child {
  display: block; }

.tab_controls {
  float: left;
  width: 220px;
  margin-right: 40px; }

.tab_controls li {
  font-size: 16px;
  color: #5e57a6;
  padding-bottom: 10px; }

.tab_controls li:hover {
  cursor: pointer;
  color: #38afd1; }

.tab_controls li.selected {
  font-weight: 700; }

.small_screen, .medium_screen {
  display: block; }

.large_screen, .very_large_screen, .iphone_landscape {
  display: none;
  visibiility: hidden; }

@media only screen and (min-width: 32em) {
  .iphone_landscape {
    display: block; } }
@media only screen and (min-width: 42em) {
  .input_col, .results_col {
    width: 49.25%;
    float: left;
    margin-bottom: 0; }

  .input_col {
    margin-right: 1.5%; }

  .small_screen {
    display: none; }

  .large_screen {
    display: block; }

  .shareboxes_low {
    text-align: right;
    float: right;
    margin-top: -1.8em; }

  input.submit-button, input.settings {
    font-size: 18px; } }
@media only screen and (min-width: 56em) {
  .intro_area {
    top: 5em;
    bottom: 2em;
    left: 4em;
    right: 2em; }

  .very_large_screen {
    display: block; }

  .medium_screen {
    display: none; } }
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.hidden {
  display: none !important;
  visibility: hidden; }
