/*
Syntax error: Invalid CSS after "$": expected identifier, was ".fn.toEm = func..."
        on line 12 of style.scss

7:  * Options:
8:         scope: string or jQuery selector for font-size scoping
9:  * Usage Example: $(myPixelValue).toEm(); or $(myEmValue).toPx();
10: --------------------------------------------------------------------*\/
11: 
12: $.fn.toEm = function(settings){
13:     settings = jQuery.extend({
14:         scope: 'body'
15:     }, settings);
16:     var that = parseInt(this[0],10),
17:         scopeTest = jQuery('<div style="display: none; font-size: 1em; margin: 0; padding:0; height: auto; line-height: 1; border:0;">&nbsp;</div>').appendTo(settings.scope),

Backtrace:
style.scss:12
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:1308:in `expected'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:1242:in `expected'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:1237:in `tok!'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:597:in `variable'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:654:in `block_child'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/scss/parser.rb:41:in `parse'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/engine.rb:409:in `_to_tree'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/engine.rb:274:in `render'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:190:in `block in update_stylesheets'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `each'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `update_stylesheets'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:275:in `block in watch'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.4.1/lib/listen/listener.rb:151:in `call'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.4.1/lib/listen/listener.rb:151:in `block in _wait_for_changes'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.4.1/lib/listen/listener.rb:146:in `loop'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.4.1/lib/listen/listener.rb:146:in `_wait_for_changes'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.4.1/lib/listen/listener.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"$\": expected identifier, was \".fn.toEm = func...\"\A         on line 12 of style.scss\A \A 7:  * Options:\A 8:         scope: string or jQuery selector for font-size scoping\A 9:  * Usage Example: $(myPixelValue).toEm(); or $(myEmValue).toPx();\A 10: --------------------------------------------------------------------*/\A 11: \A 12: $.fn.toEm = function(settings){\A 13:     settings = jQuery.extend({\A 14:         scope: 'body'\A 15:     }, settings);\A 16:     var that = parseInt(this[0],10),\A 17:         scopeTest = jQuery('<div style=\"display: none; font-size: 1em; margin: 0; padding:0; height: auto; line-height: 1; border:0;\">&nbsp;</div>').appendTo(settings.scope),"; }
